@import "../abstracts/mixins";

.main-products {
	width: 100%;
	margin-bottom: 64px;

	@include media(mobile) {
		margin-left: 20px;
	}

	& .main-products__title {
		width: 1060px;
		margin: 48px auto 28px auto;

		& .main-products__title--h1 {
			@include fontStyle($size: 36px);
		}
	}

	& .main-products__content {
		@include itemContent();

		& .main-products__image {
			border-radius: 20px;
			overflow: hidden;
			box-shadow: 0 8px 12px 0 rgba(33, 37, 41, 0.15);
			position: relative;
			z-index: 0;

			& img {
				width: 250px;
				height: 333px;
				transition-duration: 3s;
			}

			&:hover {
				cursor: pointer;
				img {
					transform: scale(1.2);
				}
			}

			& .main-products__image__information {
				box-sizing: border-box;
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				padding: 32px 24px;
				color: white;

				span {
					display: block;
				}

				& :nth-child(1) {
					@include fontStyle($size: 28px, $weight: 700);
					margin-bottom: 20px;
				}

				& :nth-child(2) {
					@include fontStyle($size: 18px);
				}

				button {
					@include fontStyle($size: 14px, $color: #495056);
					position: absolute;
					bottom: 40px;
					left: 24px;
					width: 88px;
					height: 40px;
					background-color: white;
					border: none;
					border-radius: 4px;
					cursor: pointer;
				}
			}
		}
	}
}

// 이벤트 이미지 부분
.main-event {
	width: 1060px;
	margin: 0 auto 44px;

	@include media(mobile) {
		margin-left: 20px;
	}

	& img {
		width: 100%;
		height: 280px;
	}
}

// 아래쪽 main-info 부분
.main-info {
	width: 1060px;
	margin: 0 auto 44px;

	@include media(mobile) {
		width: 482px;
		margin: 0;
	}

	& .main-info__title {
		@include fontStyle($size: 36px);
		margin-bottom: 30px;
	}

	& .main-info__content {
		width: 100%;
		height: 254px;
		padding: 42px 0;
		background-color: #f8f9fa;
		border: 1px solid #dee2e6;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		@include media(mobile) {
			box-sizing: border-box;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 30px 16px;
			margin-bottom: 50px;
		}

		& a {
			color: #2b96ed;
		}

		$indexes: 1, 2, 3;

		@each $index in $indexes {
			@include iconStyle($index);
		}

		& .main-info__items {
			width: 240px;

			& .main-info__items--item {
				display: block;
				margin-bottom: 10px;

				@include media(mobile) {
					i {
						text-align: center;
					}
				}

				& a {
					text-decoration: none;
					font-size: 15px;
					font-weight: 700;
				}
			}

			& p {
				color: #666d75;
				font-size: 14px;
				line-height: 1.71;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;

				@include media(mobile) {
					width: auto;
					margin-bottom: 10px;
				}
			}
		}
	}
}
